<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Moto Connect</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">MotoConnect</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a>🇧🇷</a></li>
                        <li><a>🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>

<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post" th:object="${usuario}">
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{name}"></legend>
            <input th:field="*{nome}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{nome}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{email}"></legend>
            <input th:field="*{email}" th:errorclass="input-error" type="text" class="input" />
            <p class="label text-error" th:errors="*{email}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{password}"></legend>
            <input th:field="*{senha}" th:errorclass="input-error" type="password" class="input" />
            <p class="label text-error" th:errors="*{senha}"></p>
        </fieldset>

        <div class="space-x-4">
            <a href="/usuario" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button class="btn btn-primary" th:text="#{save}"></button>
        </div>
    </form>
</main>



</body>
</html>