<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Moto Connect</title>
</head>
<body>

<h1 class="text-2xl font-bold text-primary p-8">Cadastrar Moto</h1>

<main class="grid place-items-center gap-4 p-8">
    <form class="w-full max-w-md" method="post" th:object="${moto}">

        <!-- Modelo -->
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{model}"></legend>
            <select th:field="*{modelo}" class="select" required>
                <option value="" th:text="#{motorcycle.models.select}"></option>
                <option value="POP" th:text="#{motorcycle.model.pop}"></option>
                <option value="E" th:text="#{motorcycle.model.e}"></option>
                <option value="SPORT" th:text="#{motorcycle.model.sport}"></option>
            </select>
            <p class="label text-error" th:errors="*{modelo}"></p>
        </fieldset>

        <!-- Placa -->
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{plate}"></legend>
            <input th:field="*{placa}" type="text" class="input"  />
            <p class="label text-error" th:errors="*{placa}"></p>
        </fieldset>

        <!-- Status -->
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{status}"></legend>
            <select th:field="*{status}" class="select" required>
                <option value="" th:text="#{motorcycle.status.select}"></option>
                <option value="NAO_INICIADO" th:text="#{motorcycle.status.notStarted}">NÃO INICIADO</option>
                <option value="MANUTENCAO" th:text="#{motorcycle.status.maintenance}">EM MANUTENÇÃO</option>
                <option value="REVISADA" th:text="#{motorcycle.status.revised}">REVISADA</option>
            </select>
            <p class="label text-error" th:errors="*{status}"></p>
        </fieldset>

        <!-- Data Cadastro -->
        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{createdDate}"></legend>
            <input th:field="*{dataCadastro}" type="date" class="input" placeholder="Data de cadastro" />
            <p class="label text-error" th:errors="*{dataCadastro}"></p>
        </fieldset>

        <!-- Botões -->
        <div class="space-x-4">
            <a href="/moto" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button class="btn btn-primary" th:text="#{save}"></button>
        </div>

    </form>
</main>

</body>
</html>