<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Moto Connect</title>
</head>
<body>

<nav class="navbar bg-base-300 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">MotoConnect</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <details>
                    <summary>🌎</summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li><a href="?lang=pt_BR">🇧🇷</a></li>
                        <li><a href="?lang=en_US">🏴󠁧󠁢󠁥󠁮󠁧󠁿</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>

<a href="/rfid/form" class="btn btn-primary" th:text="#{rfid.new}"></a>

<div th:if="${message}" role="alert" class="alert alert-success alert-soft m-4">
    <span th:text="${message}"></span>
</div>

<main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-4 p-8">
    <div th:each="rfid : ${rfids}" class="card card-border bg-base-300 w-96">

        <div class="card-body items-center">

            <h2 th:text="${rfid.nomeArea}" class="card-title"></h2>
            <p><strong>Latitude:</strong> <span th:text="${rfid.latitude}"></span></p>
            <p><strong>Longitude:</strong> <span th:text="${rfid.longitude}"></span></p>

        </div>

        <div class="card-actions justify-end m-4">
            <button class="btn btn-primary">apagar</button>
        </div>
    </div>
</main>


</body>
</html>