<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Moto Connect</title>
</head>
<body>

<h1 class="text-2xl font-bold text-primary p-8">Moto Connect</h1>

<main class="grid place-items-center gap-4 p-8" >
    <form class="w-full max-w-md" method="post" th:object="${historicoMoto}">

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{Part}"></legend>
            <input th:field="*{parte}" type="text" class="input"  />
            <p class="label text-error" th:errors="*{parte}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{description}"></legend>
            <input th:field="*{descricao}" type="text" class="input"  />
            <p class="label text-error" th:errors="*{descricao}"></p>
        </fieldset>

        <div class="space-x-4">
            <a href="/moto/historico" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button class="btn btn-primary" th:text="#{save}"></button>
        </div>

    </form>
</main>



</body>
</html>